#
# https://github.com/sc-forks/solidity-coverage/blob/master/docs/faq.md
#

sudo: required
dist: trusty
language: node_js
node_js:
  - '10'
install:
  - yarn
script:
  - yarn run lint
  - yarn run test
after_script:
  - yarn run coverage
branches:
  only:
  - master
